@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    margin: 50px;
}

.pt-input {
    margin: 5px;
    padding-bottom: 2px;
}

.find-button {
    margin-left: 20px;
    margin-top: 5px;
    top: 3px;
    position: relative;
}

.rep-table {
    margin-top: 20px;
}